.card{
    height: 450px;
    width: 350px;
    border-radius: 0px;
    /* background-color: rgb(0, 80, 46); */
    color: white;
    /* box-shadow: 5px black ; */
    margin-left: 15px;
   
    margin-top: 5rem;
    
}
.name{
    text-align: center;
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image,img{
    height: 250px;
    width: 215px;
    box-shadow: inset;
    
    
}
.descreption{
    text-align: center;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .cardHome{
    height: 300px;
    width: 250px;
    border-radius: 0px;
    background-blend-mode: screen;
    color: rgb(8, 132, 35);
} */