.card{
    height: 450px;
    width: 320px;
    background-color: #243f32;
    color: white;
    box-shadow: 5px black ;
    margin-left: 25px;
    position: relative;
    margin-top: 5px;
    
}
.name{
    text-align: center;
    padding-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cardImage{
    height: 170px;
    width: 170px;
    border-radius: 100%;
    z-index: 2;
    margin: 50px;
    box-shadow: inset;
}
.descreption{
    text-align: center;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
