.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75); /* translucent black */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .ring-loader {
   
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #b400f5; /* neon purple */
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    box-shadow: 0 0 20px #b400f5, 0 0 40px #b400f5;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  
